.f1{
	
	background-color: aqua;
	margin-left: 350px;
	margin-right: 350px;

}
.b1{
	position: relative;
	padding-left: 5px;
}
.heading1{
	
	padding-top: 3px;
}
.s1{
	 
        width: 177px;
}
.s2{
	 width: 177px;
}